# Configuración del servidor
PORT=4000
NODE_ENV=development

# Configuración de correo electrónico
EMAIL_USER=tu_email@gmail.com
EMAIL_PASS=tu_contraseña_de_aplicacion
EMAIL_TO=donde_recibir_mensajes@gmail.com

# Solo necesario para el entorno de Hostinger
# HOSTINGER_DOMAIN=artesonia.cl
# HOSTINGER_ROOT_PATH=/home/artesonia/public_html 